<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>李林超博客</title>
</head>
<body>
    <p th:text="${msg}">
        aaaa
    </p>
<p>
    <span th:text="${user.nick}">X</span>
    <span th:text="${user.phone}">135632XXXXXX</span>
    <span th:text="${user.email}">xxxx@163.com</span>
    <span th:text="${user.address}">北京XXX</span>
</p>
<p th:object="${user}">
    <span th:text="*{nick}"></span>
    <span th:text="*{phone}"></span>
    <span th:text="*{email}"></span>
    <span th:text="*{address}"></span>
</p>
<p>
    <spen th:text="*{user.nick}"></spen>
    <spen th:text="*{user.phone}"></spen>
    <spen th:text="*{user.email}"></spen>
    <spen th:text="*{user.address}"></spen>
</p>
<p>
    <a href="info.html" th:href="@{'http://localhost:8080/user/info?id='+${user.id}}">查看</a>
    <a href="info.html" th:href="@{'http://localhost:8080/user/info?id='+${user.id}+'&amp;phone='+${user.phone}}">查看</a>
    <a href="info.html" th:href="@{|http://localhost:8080/user/info?id=${user.id}&phone=${user.phone}|}">查看</a>
    <a href="info.html" th:href="@{'user/info?id='+${user.id}}">查看</a>
    <a href="info.html" th:href="@{'/user/info?id='+${user.id}}">查看</a>
</p>
<!--<p>
    <from id="login" th:action="@{/user/login}">
        ......
    </from>
    <from id="login2" th:action="/user/login">
        ......
    </from>
</p>-->
<p th:each="user:${userList}">
    <span th:text="${userStat.count}">X</span>
    <span th:text="${user.nick}">X</span>
    <span th:text="${user.phone}">135632XXXXXX</span>
    <span th:text="${user.email}">xxxx@163.com</span>
    <span th:text="${user.address}">北京XXX</span>
</p>
<p>
    <p th:text="${#httpServletRequest.getRemoteAddr()}"></p>
    <p th:text="${#httpServletRequest.getAttribute('s')}"></p>
    <p th:text="${#httpSession.getId()}"></p>
</p>
</body>
</html>